@media (max-width: 3840px) {
    :root {
        --default-rem-value: 20px;
    }
    .benefits-box-mob, .prodjects-mob {
        display: none;
    }
    .comp {
        width: 80rem;
        height: 80rem;
        margin-top: 40rem;
    }
    .footer {
        display: flex;
        width: 95%;
    }
}

@media (max-width: 2560px) {
    :root {
        --default-rem-value: 15px;
    }
    .benefits-box-mob, .prodjects-mob {
        display: none;
    }
    .screen3 {
        height: 124rem;
    }
    .screen1 {
        height: 85vh;
    }
    .comp {
        margin-top: 20rem;
    }
}

@media (max-width: 1920px) {
    :root {
      --default-rem-value: 10px;
    }
    .comp {
        width: 60rem;
        height: 60rem;
        left: 65%;
    }
    .benefits-box-mob, .prodjects-mob {
        display: none;
    }
}

@media (max-width: 1280px) {
    :root {
      --default-rem-value: 7px;
    }
    .ps-text {
        font-size: 2.8rem;
    }
    .comp {
        left: 65%;
    }
    .benefits-box-mob, .prodjects-mob {
        display: none;
    }
}

@media (max-width: 1000px) {
    :root {
        --default-rem-value: 5px;
    }
    
    .message-text2 {
        margin: 14vh 12vw 0vw 10vw;
    }
    .massage-frame2 {
        margin: 4rem;
    }
    .button2 {
        display: none;
    }
    .screen5 {
        margin: 0 auto;
    }
    .screen8 {
        height: 80rem;
    }
}

@media (max-width: 940px) {
    :root {
        --default-rem-value: 15px;
    }
    .header {
        flex-direction: column;
        height: 20rem;
    }
    .loader {
        width: 12rem;
        height: 12rem;
        margin-left: -1.2rem;
    }


    .loader:before {
        top: 1.2rem;
        left: 1.2rem;
        right: 1.2rem;
        bottom: 1.2rem;
    }

    .loader:after {
        filter: blur(6rem);
    }

    .logo-img {
        height: 10rem;
        width: 10rem;

    }

    .logo {
        padding-bottom: 5rem;
    }

    .logo-title {
        font-size: 6rem;
        width: 22.4rem;
        height: 8rem;
        margin-top: -0.3rem;
    }

    .ball2, .ball1 {
        display: none;
    }
    
    .discriptor {
        margin-top: 13rem;
    }

    .cloud {
        width: 90%;
        padding: 2.5rem 0rem 2.5rem 40rem;
        margin-top: 10.5rem;
    }
    .screen1 {
        height: 60vh;
    }
    .text-typing{
        margin-top: 0;
        font-size: 3rem;
    }
    .main-btn {
        width: 20rem;
        height: 5rem;
        font-size: 3rem;
        top: 85%;
        padding: 1rem;
        border-radius: 2rem;
    }
    #animated-image {
        width: 3rem; 
        height: 3rem;
        margin-top: 1rem;
        
    }

    .btn-txt {
        margin-top: -0.1rem;
    }

    .pc, .ball-box {
        display: none;
    }

    .screen2 {
        width: 100%;
        height: 42vw;
    }

    .message, .message2 {
        width: 100%;
    }

    .message p {
        font-size: 1.8rem;
        line-height: 140%;
    }
    
    h2 {
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .benefits-box {
        display: none;
    }

    .benefits-box-mob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }

    .benefit-row1, .benefit-row2, .benefit-row3 {
        display: flex;
        justify-content: center;
    }

    .benefit1, .benefit2, .benefit3, .benefit4, .benefit5, .benefit6 {
        width: 46vw;
        height: 41rem;
        padding: 1rem;
        border: 0.4rem solid #0E1225;
    }

    .rectangle_back {
        width: 38vw;
        height: 16rem;
    }

    .icon1 {
        padding: 4.5vw;
    }

    .dollar {
        width: 9rem;
        height: 14rem;
        font-size: 14rem;
    }

    .arrow {
        width: 9rem;
        height: 14rem;
    }

    .thousand {
        font-size: 6rem;
        font-weight: 700;
        padding: 1.2rem;
    }

    .bmessage {
        width: 32vw;
        height: 11rem;
    }

    .icon2 {
        padding: 2rem;
    }

    .b_title {
        display: flex;
        width: 38vw;
        height: 2rem;
        line-height: 3rem;
        margin-left: 1rem;
        font-size: 2rem;
    }

    .b_text {
        display: flex;
        width: 37vw;
        height: 15vw;
        font-size: 1.5rem;
        margin-left: 2vw;
        line-height: 2.5rem;
    }

    .w-b-text {
        display: flex;
        text-align: start;
        height: 25vw;
        
    }

    .database {
        width: 21vw;
        height: 18vw;
    }

    .clock, .smile {
        height: 20vw;
        width: 20vw;
    }

    .line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8, .line9, .line10 {
        width: 3vw;
    }

    .line1 {
        height: 50%;
    }

    .line2 {
        height: 70%;
    }

    .line3 {
        height: 50%;
    }

    .line4 {
        height: 20%;
    }

    .line5 {
        height: 50%;
    }

    .line6 {
        height: 60%;
    }

    .line7 {
        height: 80%;
    }

    .line8 {
        height: 70%;
    }

    .line9 {
        height: 90%;
    }

    .line10 {
        height: 100%;
    }

    .screen3 {
        height: 320vh;
    }

    .message2 p {
        font-size: 1.8rem;
        line-height: 140%;
    }

    .message2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .screen4 {
        height: 60vh;
        justify-content: center;
    }

    .message-box {
        margin: 0vh -5vw 0vw 0vw;
    }

    .message-text2 {
        font-size: 1.9rem;
        line-height: 2.9rem;
        width: 65vw;
        margin-left: 5vw;
        margin-top: 20vw;

    }

    .baner {
        flex-direction: column;
        height: 145vw;
    }

    .baner_text {
        font-size: 3rem;
        justify-content: center;
        text-align: center;
        margin: auto;
        line-height: 4rem;
        height: 35vw;
        margin-top: 4vw;
        margin-bottom: 2vw;
    }

    .phone {
        margin: auto;
        height: 100vw;
        margin-top: -1vw;
    }

    .screen5 {
        height: 200vh;
        justify-content: center;
    }

    .project_title {
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .project_title2 {
        font-size: 2.7rem;
    }

    .prodjects, .wrapper {
        display: none;
    }

    .prodjects-mob {
        display: block;
        justify-content: center;
        padding: 2rem;
    }

    .screen6 {
        height: 140vw;
    }

    
    .prodjects-mob-slider {
        width: auto;
        display: flex;
        height: 100%;
        
    }

    .prodject1, .prodject2, .prodject3, .prodject4 {
        border: 0.5rem solid #0E1225;
        width: 80vw;
        height: 80vw;
        padding: 3vw;
    }

    .pbox {
        width: 25vw;
        height: 25vw;
        padding: 2vw;
    }

    .picon {
        display: flex;
        width: 19vw;
        height: 19vw;
    }

    .proj-title {
        display: flex;
        width: 41vw;
        height: 26vw;
    }

    .tec-title {
        display: flex;
        font-size: 2.7rem;
        line-height: 4rem;
        width: 90%;
        padding: 2rem;
        text-align: center;
        height: 10rem;
        margin: auto; 
    }

    .tech-icon {
        display: flex;
        height: 17vw;
        width: 17vw;
    }

    .tech-title {
        display: flex;
        text-align: center;
        color: #fff;
        font-size: 1.6rem;
    }

    .screen8 {
        height: 90vw;
    }

    .offer p {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        margin-top: 10%;
    }
    .wrap {
        display: flex;
        height: 45%;
        width: 100%;
        justify-content: center;
        padding: 5%;
    }
    .buttons {
        display: flex;
        height: 10%;
        width: 90%;
        justify-content: space-between;
    }

    .btn-yes, .btn-no {
        width: 25vw;
        height: 8vw;
        font-size: 3rem;
        text-transform: uppercase;
    }
    .screen9 {
        height: 35rem;
    }
    .footer {
        height: 35rem;
        padding: 1.5rem;
    }

    .ps-btn {
        width: 25vw;
        font-size: 1.6rem;
    }

    .ps-img, .empty {
        display: none;
    }

    .ps-text {
        padding: 1rem;
    }
}

@media (max-width: 840px) {
    :root {
        --default-rem-value: 14px;
    }
    .screen3 {
        height: 170vh;
    }
    .screen5 {
        height: 105vh;
    }
    .screen6 {
        height: 100vh;
    }
    .tech-title {
        font-size: 1.5rem;
    }
    .massage-text {
        margin-top: -24rem;
        font-size: 1.5rem;
    }
    .btn-yes, .btn-no {
        font-size: 3rem;
    }
    .baner_text {
        font-size: 2.5rem;
        width: 90%;
    }

    .proj-title {
        margin-left: -2rem;
        width: 45vw;
    }

    .row {
        padding-left: 1rem;
    }
    .pbox {
        padding: 1rem;
    }
   
}