@media (max-width: 3840px) {
    :root {
        --default-rem-value: 20px;
    }
    .benefits-box-mob, .prodjects-mob {
        display: none;
    }
    .comp {
        width: 80rem;
        height: 80rem;
        margin-top: 40rem;
    }
    .footer {
        display: flex;
        width: 95%;
    }
}

@media (max-width: 2560px) {
    :root {
        --default-rem-value: 15px;
    }
    .benefits-box-mob, .prodjects-mob {
        display: none;
    }
    .screen3 {
        height: 124rem;
    }
    .screen1 {
        height: 85vh;
    }
    .comp {
        margin-top: 20rem;
    }
}

@media (max-width: 1920px) {
    :root {
      --default-rem-value: 10px;
    }
    .comp {
        width: 60rem;
        height: 60rem;
        left: 65%;
    }
    .benefits-box-mob, .prodjects-mob {
        display: none;
    }
}

@media (max-width: 1280px) {
    :root {
      --default-rem-value: 7px;
    }
    .ps-text {
        font-size: 2.8rem;
    }
    .comp {
        left: 65%;
    }
    .benefits-box-mob, .prodjects-mob {
        display: none;
    }
}

@media (max-width: 1080px) {
    :root {
        --default-rem-value: 5px;
    }
    
    .message-text2 {
        margin: 14vh 12vw 0vw 10vw;
    }
    .massage-frame2 {
        margin: 4rem;
    }
    .button2 {
        display: none;
    }
    .screen5 {
        margin: 0 auto;
    }
    .screen8 {
        height: 80rem;
    }
}

@media (max-width: 980px) {
    :root {
        --default-rem-value: 15px;
    }
    .header {
        flex-direction: column;
        height: 20rem;
    }
    .loader {
        width: 12rem;
        height: 12rem;
        margin-left: -1.2rem;
    }


    .loader:before {
        top: 1.2rem;
        left: 1.2rem;
        right: 1.2rem;
        bottom: 1.2rem;
    }

    .loader:after {
        filter: blur(6rem);
    }

    .logo-img {
        height: 10rem;
        width: 10rem;

    }

    .logo {
        padding-bottom: 5rem;
    }

    .logo-title {
        font-size: 6rem;
        width: 22.4rem;
        height: 8rem;
        margin-top: -0.3rem;
    }

    .ball2, .ball1 {
        display: none;
    }
    
    .discriptor {
        margin-top: 13rem;
    }

    .cloud {
        width: 90%;
        padding: 2.5rem 0rem 2.5rem 40rem;
        margin-top: 10.5rem;
    }
    .screen1 {
        height: 75vh;
    }
    .text-typing{
        margin-top: 10vh;
        font-size: 3rem;
        line-height: 160%;
    }
    .main-btn {
        width: 25rem;
        height: 7rem;
        font-size: 4rem;
        top: 75%;
        padding: 1rem;
        border-radius: 2rem;
    }
    #animated-image {
        width: 3.5rem; 
        height: 3.5rem;
        margin-top: 1rem;
        
    }

    .btn-txt {
        margin-top: -0.1rem;
    }

    .pc, .ball-box {
        display: none;
    }

    .screen2 {
        width: 100%;
        height: 42vw;
    }

    .message, .message2 {
        width: 100%;
    }

    .message p {
        font-size: 1.8rem;
        line-height: 140%;
    }
    
    h2 {
        font-size: 3rem;
        line-height: 4.5rem;
        width: 95%;
    }

    .benefits-box {
        display: none;
    }

    .benefits-box-mob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }

    .benefit-row1, .benefit-row2, .benefit-row3 {
        display: flex;
        justify-content: center;
    }

    .benefit1, .benefit2, .benefit3, .benefit4, .benefit5, .benefit6 {
        width: 46vw;
        height: 41rem;
        padding: 1rem;
        border: 0.4rem solid #0E1225;
    }

    .rectangle_back {
        width: 38vw;
        height: 16rem;
    }

    .icon1 {
        padding: 4.5vw;
    }

    .dollar {
        width: 9rem;
        height: 14rem;
        font-size: 14rem;
    }

    .arrow {
        width: 9rem;
        height: 14rem;
    }

    .thousand {
        font-size: 6rem;
        font-weight: 700;
        padding: 1.2rem;
    }

    .bmessage {
        width: 32vw;
        height: 11rem;
    }

    .icon2 {
        padding: 2rem;
    }

    .b_title {
        display: flex;
        width: 38vw;
        height: 2rem;
        line-height: 3rem;
        margin-left: 1rem;
        font-size: 2rem;
    }

    .b_text {
        display: flex;
        width: 37vw;
        height: 15vw;
        font-size: 1.5rem;
        margin-left: 2vw;
        line-height: 2.5rem;
    }

    .w-b-text {
        display: flex;
        text-align: start;
        height: 25vw;
        
    }

    .database {
        width: 21vw;
        height: 18vw;
    }

    .clock, .smile {
        height: 20vw;
        width: 20vw;
    }

    .line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8, .line9, .line10 {
        width: 3vw;
    }

    .line1 {
        height: 50%;
    }

    .line2 {
        height: 70%;
    }

    .line3 {
        height: 50%;
    }

    .line4 {
        height: 20%;
    }

    .line5 {
        height: 50%;
    }

    .line6 {
        height: 60%;
    }

    .line7 {
        height: 80%;
    }

    .line8 {
        height: 70%;
    }

    .line9 {
        height: 90%;
    }

    .line10 {
        height: 100%;
    }

    .screen3 {
        height: 225vw;
        min-height: 2100px;
    }

    .message2 p {
        font-size: 1.8rem;
        line-height: 140%;
    }

    .message2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .screen4 {
        height: 50vh;
        justify-content: center;
        max-height: 500px;
    }

    .message-box {
        max-height: 400px;
        margin: 0vh -5vw 0vw 0vw;
    }

    .message-text2 {
        font-size: 1.9rem;
        line-height: 2.9rem;
        width: 65vw;
        margin-left: 5vw;
        margin-top: 20vw;

    }

    .baner {
        flex-direction: column;
        height: 145vw;
    }

    .baner_text {
        font-size: 3rem;
        justify-content: center;
        text-align: center;
        margin: auto;
        line-height: 4rem;
        height: 35vw;
        margin-top: 4vw;
        margin-bottom: 2vw;
    }

    .phone {
        margin: auto;
        height: 100vw;
        margin-top: -1vw;
    }

    .screen5 {
        height: 150vw;
        justify-content: center;
    }

    .project_title {
        font-size: 3rem;
        line-height: 4.5rem;
    }

    .project_title2 {
        font-size: 2.7rem;
    }

    .prodjects, .wrapper {
        display: none;
    }

    .prodjects-mob {
        display: inline-block;
        justify-content: center;
        padding: 2rem;
        height: 80vw;
        width: 80vw;
    }

    .screen6 {
        height: 140vw;
        max-height: 1200px;
    }

    
    .prodjects-mob-slider {
        width: auto;
        display: flex;
        height: 100%;
    }

    .prodject1, .prodject2, .prodject3, .prodject4 {
        border: 0.5rem solid #0E1225;
        width: 100%;
        height: 100%;
        padding: 3vw;
    }

    .prodjects {
        height: 100%;
    }

    .pbox {
        width: 25vw;
        height: 25vw;
        padding: 2vw;
    }


    .picon {
        display: flex;
        width: 19vw;
        height: 19vw;
    }

    .proj-title {
        display: flex;
        width: 35vw;
        height: 26vw;
        margin-left: -5vw;
        padding: 2vw;
        font-size: 2.1rem;
    }

    .tick-text {
         font-size: 1.9rem;
         margin-left: 1rem;
    }

    .icon-img {
        margin-left: -3rem;
    }

    .tec-title {
        display: flex;
        font-size: 2.7rem;
        line-height: 140%;
        width: 90%;
        padding: 2rem;
        text-align: center;
        height: 10rem;
        margin: auto; 
    }

    .tech-icon {
        display: flex;
        height: 17vw;
        width: 17vw;
    }

    .tech-title {
        display: flex;
        text-align: center;
        color: #fff;
        font-size: 1.6rem;
    }

    .screen8 {
        height: 90vw;
        max-height: 700px;
    }

    .offer p {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        margin-top: 10%;
        width: 90%;
    }
    .wrap {
        display: flex;
        height: 45%;
        width: 100%;
        justify-content: center;
        padding: 5%;
    }
    .buttons {
        display: flex;
        height: 10%;
        width: 90%;
        justify-content: space-between;
    }

    .btn-yes, .btn-no {
        width: 25vw;
        height: 8vw;
        font-size: 3rem;
        text-transform: uppercase;
    }
    .screen9 {
        height: 35rem;
    }
    .footer {
        height: 35rem;
        padding: 1.5rem;
    }

    .ps-btn {
        width: 25vw;
        font-size: 1.6rem;
    }

    .ps-img, .empty {
        display: none;
    }

    .ps-text {
        padding: 1rem;
    }
}

@media (max-width: 880px) {
    :root {
        --default-rem-value: 14px;
    }

    .screen2 {
        min-height: 350px;
    }
    .screen3 {
        height: 225vw;
        min-height: 2100px;
    }

    .screen4 {
        height: 35vh;
        min-height: 400px;
    }
    .screen5 {
        height: 150vw;
    }
    .screen6 {
        height: 100vh;
        max-height: 1200px;
    }
    .pbox {
        max-height: 190px;
        max-width: 190px;
        padding: 1rem;
    }

    .icon-img {
        margin-left: 0rem;
    }

    .proj-title {
        max-width: 300px;
    }

    .title-icon {
        display: flex;
        justify-content: space-between;
        width: 60vw;
        margin-left: 4vw;
    }

    .tech-title {
        font-size: 1.5rem;
    }

    .massage-text {
        margin-top: -24rem;
        font-size: 1.5rem;
    }

    .prodjects-mob {
        width: 110%;
        justify-content: center;
        margin-left: -1.7rem; 
    }

    .prodject_titles {
        font-size: 2.5rem;
    }

    .btn-yes, .btn-no {
        font-size: 3rem;
    }

    .baner {
        max-height: 1300px;
    }

    .baner_text {
        font-size: 2.5rem;
        width: 90%;
    }

    .row {
        padding-left: 1rem;
    }

    .screen8 {
        max-height: 600px;
    }
}

@media (max-width: 780px) {
    .title h2 {
        width: 95%;
    }

    .cloud {
        width: 100%;
    }

    .screen2 {
        min-height: 380px;
    }

    .screen3 {
        min-height: 2220px;
        max-height: 2300px;
    }

    .screen4 {
        max-height: 400px;
    }

    .icon-img {
        margin-left: -2vw;
    }

    .prodjects-mob {
        width: 120%;
        margin-left: -3.8rem;
    }

    .title-icon {
        width: 90%;
    }

    .proj-title {
        width: 50vw;
        max-width: 400px;
    }

    .dollar {
        width: 8rem;
        height: 12rem;
        font-size: 12rem;
    }

    .arrow {
        width: 8rem;
        height: 12rem;
    }

    .b_title {
        display: flex;
        width: 38vw;
        height: 1.8rem;
        font-size: 1.8rem;
    }
    .screen5 {
        min-height: 1100px;
    }
    .baner {
        min-height: 1100px;
    }

    .phone {
        min-height: 750px;
    }

    .screen6 {
        min-height: 1300px;
    }

    .benefit1, .benefit2, .benefit3, .benefit4, .benefit5, .benefit6 {
        min-height: 600px;
    }

    .tech-title {
        font-size: 1.3rem;
    }

    .btn-yes, .btn-no {
        font-size: 2.4rem;
    }
    .ps-btn {
        min-width: 230px;
    }
}

@media (max-width: 680px) {

    :root {
        --default-rem-value: 13px;
    }
    .benefit1, .benefit2, .benefit3, .benefit4, .benefit5, .benefit6 {
        min-height: 570px;
    }

    .title h2 {
        font-size: 2.6rem;
        line-height: 140%;
    }

    .screen3 {
        min-height: 2000px;
        max-height: 2100px;
    }

    .screen6 {
        min-height: 1000px;
        max-height: 1150px;
    }

    .dollar {
        width: 7rem;
        height: 11rem;
        font-size: 11rem;
    }

    .arrow {
        width: 7rem;
        height: 11rem;
    }

    .thousand {
        font-size: 5rem;
        margin-top: 1.1rem;
    }

    .baner_text {
        height: 40vw;
        font-size: 2.3rem;
        line-height: 140%;
    }

    .baner {
        min-height: 1050px;
    }

    .btn-yes, .btn-no {
        font-size: 2.2rem;
    }

    .ps {
        min-height: 450px;
    }

    .screen9 {
        min-height: 500px;
    }
    
    .wraps {
        margin-top: -2rem;
    }
}

@media (max-width: 580px) {
    :root {
        --default-rem-value: 12px;
    }

    .discriptor {
        font-size: 2.8rem;
    }

    .screen4 {
        max-height: 350px;
        min-height: 300px;
    }

    .project_title {
        font-size: 2.6rem;
        line-height: 140%;
    }

    .screen6 {
        min-height: 1000px;
        max-height: 1050px;
    }

    .offer {
        min-height: 250px;
    }

    .offer p {
        font-size: 2.7rem;
    }

    .screen8 {
        max-height: 450px;
    }

    .wraps {
        margin-top: -1rem;
    }
    .footer {
        height: 32rem;
    }
    .message-box {
        width: 85%;
    }

    .b_title {
        height: 1.6rem;
        font-size: 1.6rem;
    }

    .dollar {
        width: 6rem;
        height: 9rem;
        font-size: 9rem;
    }

    .arrow {
        width: 6rem;
        height: 9rem;
    }

    .bmessage {
        width: 30vw;
    }

    .thousand {
        font-size: 4rem;
    }

    .tick-text {
        font-size: 1.7rem;
        margin-left: 0.5rem;
    }

    .icon-img {
        height: 2rem;
        width: 2rem;
    }
    .main-btn {
        top:85%;
    }

    .text-typing {
        margin-top: 5vh;
    }

    .benefit1, .benefit2, .benefit3, .benefit4, .benefit5, .benefit6 {
        min-height: 550px;
        max-height: 570px;
    }

    .screen3 {
        min-height: 1900px;
        max-height: 2100px;
    }
}

@media (max-width: 480px) {
    :root {
        --default-rem-value: 10px;
    }

    .project_title, .project_title2  {
        font-size: 2.3rem;
    }

    .screen6 {
        min-height: 700px;
        max-height: 750px;
    }

    .offer p {
        font-size: 2.5rem;
    }

    .wrap {
        align-items: center;
    }

    .screen8 {
        max-height: 400px;
    }

    .ps-text {
        font-size: 2.3rem;
        margin-top: -1rem;
    }
    .cloud {
        width: 95%;
        padding: 2rem 0rem 2rem 95vw;
        margin-top: 10.5rem;
    }

    .text-typing {
        margin-top: 3vh;
    }

    .logo {
        margin-left: 10vw;
    }

    .discriptor {
        font-size: 2.5rem;
    }

    .thousand {
        margin-top: 1.5rem;
    }

    .screen9 {
        min-height: 360px;
    }

    .ps {
        max-height: 350px;
        min-height: 320px;
    }

    .ps-offer {
        max-height: 350px;

    }

    .message-box {
        max-height: 280px;
    }

    .baner_text {
        min-height: 170px;
    }

    .phone {
        min-height: 600px;
    }

    .baner {
        min-height: 850px;
    }

    .screen5 {
        min-height: 900px;
    }

    .tick-text {
        font-size: 1.5rem;
    }

    .prodject-table {
        width: 31rem;
        height: 25rem;
    }

    .tec-title {
        height: 12rem;
    }

    .tech-title {
        font-size: 1.1rem;
    }
    .benefit1, .benefit2, .benefit3, .benefit4, .benefit5, .benefit6 {
        min-height: 320px;
        max-height: 340px;
    }

    .screen3 {
        min-height: 1150px;
        max-height: 1600px;
    }

    .b_text {
        display: flex;
        width: 37vw;
        height: 15vw;
        font-size: 1.2rem;
        margin-left: 2vw;
        line-height: 140%;
    }

    .title h2 {
        font-size: 2.2rem;
    }

    .main-btn {
        top: 90%;
    }

    .screen2 {
        min-height: 350px;
    }

    .rectangle_back {
        height: 12rem;
    }

    .message, .message2 {
        padding: 1rem;
    }

    .message2 p {
        font-size: 1.6rem;
    }

    .tec-title {
        font-size: 2.3rem;
    }

    .prodjects-mob {
        margin-left: -3.1rem;
    }

    .btn-yes, .btn-no {
        font-size: 2rem;
    }

}

@media (max-width: 380px) {
    :root {
        --default-rem-value: 9px;
    }

    .benefit1, .benefit2, .benefit3, .benefit4, .benefit5, .benefit6 {
        min-height: 290px;
        max-height: 310px;
    }

    .screen4 {
        max-height: 320px;
        min-height: 250px;
    }

    .screen3 {
        min-height: 1050px;
        max-height: 1600px;
    }

    .screen6 {
        min-height: 600px;
        max-height: 700px;
    }

}
/* Adaptive for landscape. */

@media only screen and (max-width: 980px) and (orientation: landscape) {
    .screen1 {
        min-height: 500px;
    }
    .main-btn {
        position: relative;
        width: 20rem;
        height: 6rem;
    }
    .screen3 {
        min-height: 2200px;
    }
    .screen4 {
        min-height: 370px;
    }
    
    .btn-txt {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 880px) and (orientation: landscape) {
    .screen1 {
        min-height: 500px;
    }
    .main-btn {
        width: 20rem;
        height: 6rem;
    }
    .btn-txt {
        font-size: 3rem;
    }
    .screen3 {
        min-height: 2000px;
    }
    .screen6 {
        min-height: 1200px;
    }
}

@media only screen and (max-width: 780px) and (orientation: landscape) {
    .screen1 {
        min-height: 500px;
    }
    .main-btn {
        width: 20rem;
        height: 6rem;
    }
    .btn-txt {
        font-size: 3rem;
    }
    .screen3 {
        min-height: 2100px;
    }
}

@media only screen and (max-width: 680px) and (orientation: landscape) {
    .screen1 {
        min-height: 500px;
    }
    .screen6 {
        min-height: 1150px;
        max-height: 1250px;
    }
    .main-btn {
        width: 20rem;
        height: 6rem;
    }
    .btn-txt {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 580px) and (orientation: landscape) {
    .screen1 {
        min-height: 500px;
    }
}

@media only screen and (max-width: 480px) and (orientation: landscape) {
    .screen1 {
        min-height: 500px;
    }
}

@media only screen and (max-width: 380px) and (orientation: landscape) {
    .screen1 {
        min-height: 500px;
    }
}