/* Main */
::-webkit-scrollbar {
    width: 0;
}

:root {
    --default-rem-value: 10px;
}

html {
    font-size: var(--default-rem-value);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    background: #0E1225;
    font-family: Open Sans, sans-serif;
    margin: 0 auto;
    overflow: hidden;
}

/* Heder */
header {
    margin: 5vh 10vw 0vw 10vw;
    display: flex;
    align-items: center;
}

.loader {
    position: absolute;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate 2s linear infinite;
    margin-left: -0.8rem;
}
  
@keyframes animate {
    0% {
      transform: rotate(0deg);
      filter: hue-rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      filter: hue-rotate(360deg);
    }
  
}
.loader:before {
    content: '';
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    right: 0.6rem;
    bottom: 0.6rem;
    background: #0E1225;
    border-radius: 50%;
    z-index: 1000;
}
  
.loader:after {
    content: '';
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(3rem);
}
  
.logo {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.logo-img {
    height: 7.5rem;
    width: 7.5rem;
    z-index: 5000;
}


.logo-title {
    width: 11.2rem;
    height: 4rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Albert Sans;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    margin-top: -0.5rem;
    padding: 0.5rem;
    z-index: 2000;
}

.cloud {
    display: flex;
    width: 10rem;
    height: 8.4rem;
    padding: 2.5rem 0rem 2.5rem 108rem;
    align-items: center;
    flex-shrink: 0;
    background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(68, 76, 247, 0.13) 30%, rgba(0, 0, 0, 0.00) 70%), radial-gradient(70.71% 70.71% at 50% 50%, rgba(138, 93, 255, 0.13) 0%, rgba(0, 0, 0, 0.00) 30%);
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 1.4rem;
}

.discriptor {
    display: flex;
    color: white;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 1.4rem;
}

/* Screen 1 */
.screen1 {
    margin: 0vh 10vw 0vw 10vw;
    display: flex;
    height: 83vh;
    justify-content: center;
}

.text-typing{
    color: white;
    font-size: 5rem;
    font-weight: 700;
    line-height: 140%;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    margin: 0 50 0 50;
    margin-top: 7%;
    margin-left: 10%; 
    width: 80%;
    
}

.main-btn {
    width: 34.5rem;
    height: 10.5rem;
    border-radius: 3rem;
    background: linear-gradient(109deg, #8A5DFF 0%, #444CF7 100%);
    color:#FFF;
    font-family: Open Sans;
    font-size: 6rem;
    font-weight: bold;
    position: absolute; 
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 0.2rem solid #0E1225;
    cursor: pointer;
    margin: 0 auto;
    padding: 2rem;
}

.main-btn:focus {
    outline: none;
}

#animated-image {
    width: 7rem; 
    height: 7rem; 
    margin-right: 0.5rem;
    margin-top: 1.5rem; 
}

.btn-txt {
    margin-top: -0.7rem;
    display:block;
}

.main-btn:hover {
    background: linear-gradient(109deg, #444CF7 0%, #8A5DFF 100%); 
}

.ball1, .ball2, .ball3, .ball4 {
    width: 40rem;
    height: 40rem;
    position: absolute;
    flex-shrink: 0;
    background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(68, 76, 247, 0.13) 30%, rgba(0, 0, 0, 0.00) 70%), radial-gradient(70.71% 70.71% at 50% 50%, rgba(138, 93, 255, 0.13) 20%, rgba(0, 0, 0, 0.00) 70%);
    opacity: 0.5;
}

.ball1 { 
    margin-top: 20vh;
    margin-left: 30rem;
}

.comp {
    width: 90%;
    height: 90%;
    display: flex;
    margin-left: 120rem;
    margin-top: 20rem;
}

/* Screen2 */
.screen2, .screen4 {
    width: 90%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.message-box {
    display: flex;
    width: 70%;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

.ball-box {
    width: 30%;
    height: 20rem;
}

.message, .message2 {
    width: 65%;
    margin: 50px auto;
    border: 0.5rem solid #494DF8;
    padding: 1.5rem;
    color: #ffffff;
    position: relative;
    font-size: 2.5rem;
    line-height: 140%;
    font-weight: 600;
}

.message:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 2rem solid #494DF8;
    border-right: 2rem solid transparent;
    border-top: 2rem solid #494DF8;
    border-bottom: 2rem solid transparent;
    left: 2rem;
    bottom: -4rem;
}

.message:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 2rem solid #0E1225;
    border-right: 2rem solid transparent;
    border-top: 2rem solid #0E1225;
    border-bottom: 2rem solid transparent;
    left: 2.4rem;
    bottom: -3rem;
}

/* Screen3 */
.screen3 {
    margin: 0vh 10vw 0vw 10vw;
    width: 100%;
    height: 120rem;
    margin: 0 auto;
}

.ball2 {
    margin-left: 60%;
    margin-top: -15%;
}

.title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 3%;
}

h2 {
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    line-height: 6rem;
    width: 80%;
}

.benefits-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.benefits, .benefits2 {
    display: flex; 
    justify-content: center;
    margin-top: 2%;
    gap: 1vw;
    width: 100vw;
}

.benefit1, .benefit2, .benefit3, .benefit4, .benefit5, .benefit6 {
    width: 38rem;
    height: 51.4rem;
    flex-shrink: 0;
    border-radius: 3rem;
    border-top: 0.1rem solid rgba(43, 42, 93, 0.84);
    border-right: 0.1rem solid rgba(43, 42, 93, 0.84);
    background: rgba(125, 154, 255, 0.07);
    box-shadow: 0rem 0.5rem 3rem 0rem rgba(0, 10, 20, 0.03);
}

.rectangle_back {
    width: 32rem;
    height: 24rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: rgba(125, 154, 255, 0.07);
    margin: 3rem auto;
    display: flex;
}

.icon1 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5rem;
}

.dollar {
    display: flex;
    width: 11.2rem;
    height: 17.6rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: Albert Sans;
    font-size: 18.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1rem; 
    background: linear-gradient(170deg, #444CF7 -15.92%, #825CFF 118.24%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.arrow {
    width: 11.5rem;
    height: 18rem;
    flex-shrink: 0;
    fill: linear-gradient(180deg, #494DF8 0%, #8A5DFF 50%);
}

.icon2 {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 3rem;
}
.thousand {
    position:absolute;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Albert Sans;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    padding: 1.8rem;
}

.massage3 {
    display: flex;
    justify-content: center;
}

.bmessage {
    width: 25.6rem;
    height: 14.1rem;
}

.icon3 {
    flex-shrink: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.database {
    width: 15rem;
    height: 17rem;
}

.icon4 {
    flex-shrink: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.clock, .smile {
    height: 20.5rem;
    width: 20.5rem;
}  

.icon5 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10%;
    width: 100%;
}

.line1 {
    width: 2.1rem;
    height: 6rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(161deg, rgba(138, 93, 255, 0.13) 0%, rgba(68, 76, 247, 0.13) 100%);
}

.line2 {
    width: 2.1rem;
    height: 9rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(167deg, #8A5DFF 0%, #444CF7 100%);
}

.line3 {
    width: 2.1rem;
    height: 6rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(161deg, rgba(138, 93, 255, 0.13) 0%, rgba(68, 76, 247, 0.13) 100%);
}

.line4 {
    width: 2.1rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(145deg, rgba(138, 93, 255, 0.13) 0%, rgba(68, 76, 247, 0.13) 100%);
}

.line5 {
    width: 2.1rem;
    height: 6rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(161deg, rgba(138, 93, 255, 0.13) 0%, rgba(68, 76, 247, 0.13) 100%);
}

.line6 {
    width: 2.1rem;
    height: 9rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(167deg, rgba(138, 93, 255, 0.13) 0%, rgba(68, 76, 247, 0.13) 100%);

}

.line7 {
    width: 2.1rem;
    height: 12rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(170deg, rgba(138, 93, 255, 0.13) 0%, rgba(68, 76, 247, 0.13) 100%);
}

.line8 {
    width: 2.1rem;
    height: 15rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(172deg, #8A5DFF 0%, #444CF7 100%);
}

.line9 {
    width: 2.1rem;
    height: 12rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(170deg, rgba(138, 93, 255, 0.13) 0%, rgba(68, 76, 247, 0.13) 100%);
}

.line10 {
    width: 2.1rem;
    height: 18rem;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: linear-gradient(173deg, #8A5DFF 0%, #444CF7 100%);
}

.icon6 {
    flex-shrink: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.b_title {
    display: flex;
    width: 31.5rem;
    height: 3.3rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #F6F6F9;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.3rem;
    letter-spacing: -0.15rem;
    margin-left: 3.5rem;
    margin-top: -1rem;
}

.b_text {
    display: flex;
    width: 31.8rem;
    height: 15.6rem;
    justify-content: center;
    flex-shrink: 0;
    color: #ACACD0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    margin-left: 3.5rem;
    margin-top: 0.7rem;
}

/* Screen4 */

.screen4 {
    height: 50rem;
}

.message2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 15rem;
}

.message2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 2rem solid transparent;
    border-right: 2rem solid #494DF8;
    border-top: 2rem solid #494DF8;
    border-bottom: 2rem solid transparent;
    right: 2rem;
    bottom: -4rem;
}
  
.message2:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 2rem solid transparent;
    border-right: 2rem solid #0E1225;
    border-top: 2rem solid #0E1225;
    border-bottom: 2rem solid transparent;
    right: 2.4rem;
    bottom: -3rem;
}

.ball3 {
    display: flex;
    justify-self: start;
    margin: 0vh 10vw 0vw 10vw;
}

/* Screen5 */
.screen5 {
    margin: 0vh 10vw 0vw 10vw;
    display: flex;
    height: 75rem;
    justify-content: center;
}

.baner {
    width: 90%;
    height: 70rem;
    flex-shrink: 0;
    border-radius: 3rem;
    background: linear-gradient(114deg, #8A5DFF 0%, #444CF7 100%);
    display: flex;
    justify-content: center; 
    align-items: center;
    /* flex-direction: row; */
}

.baner_text {
    display: flex;
    width: 5rem;
    height: 61.9rem;
    justify-content: center;
    color: rgba(255, 255, 255, 0.99);
    font-family: Open Sans;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: justify;
    align-items: center;
    flex: 2;
    margin-left: 5rem;
}
.w-phone {
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.phone {
    width: 30rem;
    height: 62rem;
    flex-shrink: 0;
    border-radius: 4rem;
    background: rgba(255, 255, 255, 0.3);
    flex: 2;
    margin: 0 auto;
    display: inline-block;
    justify-content: center;
    margin-left: 9rem;    
}

.messs {
    height: 30rem;
}

.mass1, .mass2, .mass3, .mass4 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem;
    line-height: 2.4rem;
}

.mass1, .mass3 {
    width: 24rem;
    border-radius: 0rem 3rem 3rem 3rem;
    background: rgba(0, 10, 252, 0.80);
    margin-left: 1rem;
    margin-top: 2rem;
}

.mass2, .mass4 {
    width: 24rem;
    border-radius: 3rem 0rem 3rem 3rem;
    background: #E8129F;;
    margin-left: 5rem;
    margin-top: 2rem;
}

.mass1 {
    margin-top: 12rem;
}

/* Screen6 */

.screen6 {
    margin: 0vh 10vw 0vw 10vw;
    display: block;
    height: 135rem;
}

.project_title {
    display: flex;
    width: 100%;
    justify-content: center;
    color: rgba(255, 255, 255, 0.99);
    font-size: 3.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6rem;
    text-align: center;
}

.project_title2, .tec-title {
    display: flex;
    width: 100%;
    height: 6.6rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: Open Sans;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.7rem;
    background: linear-gradient(96deg, #8A5DFF 0%, #444CF7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2%; 
}

.prodjects {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 50rem); 
    grid-gap: 2rem; 
    width: 100%; 
    height: 84rem;
    padding: 2%;
}

.prodject1, .prodject2, .prodject3, .prodject4 {
    width: 50rem;
    height: 50rem;
    flex-shrink: 0;
    border-radius: 3rem;
    border-top: 0.1rem solid rgba(43, 42, 93, 0.84);
    border-right: 0.1rem solid rgba(43, 42, 93, 0.84);
    background: rgba(125, 154, 255, 0.07);
    box-shadow: 0rem 0.5rem 3rem 0rem rgba(0, 10, 20, 0.03);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2rem;
}

.pbox {
    display: flex;
    width: 16rem;
    height: 16rem;
    padding: 0.5rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: rgba(125, 154, 255, 0.07);
    align-items: center;
    justify-content: center;
}

.picon {
    display: flex;
    width: 12rem;
    height: 12rem;
}

.proj-title {
    display: flex;
    width: 26rem;
    height: 10rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 600;
    align-items: center;
}

.title-icon {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 16rem;
    width: 42rem;
}

.prodject-table {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 30rem;
    height: 28rem;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
  
.row {
    display: block;
    align-items: center;
    padding: 1rem;
    padding-left: 3rem;
}
  
.cell {
    display: flex;
    align-items: center;
}

.icon-img {
    display: flex;
    height: 3rem;
    width: 3rem;
}

.tick-text {
    display: flex;
    color: #fff;
    font-size: 2rem;
    width: 34rem;
    padding: 0.5rem;
}

.wrapper {
    display: flex;
    position: absolute;
    height: 120rem;
    width: 90%;
    justify-content: flex-end;
    text-align: center;
    align-items: flex-end;
}

.ball4 {
    display: flex;
    position: absolute;
}

/* Screen7 */
.tech-slider {
    margin: 0vh 10vw 0vw 10vw;
    display: flex;
    padding: 3rem;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.tech-icon {
    display: flex;
    height: 15rem;
    width: 15rem;
    padding: 2rem;
    margin: 0 auto;
}

.tech-title {
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    font-weight: 500;
    height: 4rem;
}

.slick-active {
    outline: none;
}

/* Screen8 */
.screen8 {
    background: rgba(125, 154, 255, 0.07);
    width: 100vw;
    height: 80rem;
}


.offer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer p {
    display: flex;
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
    margin-top: 7%;
    height: 100%;
    width: 80%;
    line-height: 1.4;
}

.wrap {
    display: flex;
    height: 45%;
    width: 100%;
    justify-content: center;
    padding: 5%;
}
.buttons {
    display: flex;
    height: 10%;
    width: 75vw;
    justify-content: space-between;
}

.btn-yes, .btn-no {
    width: 20rem;
    height: 7rem;
    cursor: pointer;
    border-radius: 2rem;
    color:#FFF;
    font-size: 4rem;
}

.btn-yes {
    background: linear-gradient(109deg, #8A5DFF 0%, #444CF7 100%);
    font-weight: 600;
    border: 0.2rem solid #fff;
}

.btn-yes:hover {
    background: linear-gradient(109deg, #444CF7 0%, #8A5DFF 100%); 
}

.btn-no {
    background: linear-gradient(109deg, #333234 0%, #8a8a8d 100%);
    font-weight: 500;
    border: 0.2rem solid #040404;
}

/* Screen9 */

.screen9 {
    margin: 0vh 10vw 0vw 10vw;
    display: flex;
    height: 20rem;
}

.footer {
    display: flex;
    width: 90%;
    height: 20rem;
    margin: 0 auto;
}

.ps {
    display: flex;
    border: 0.5rem solid #8A5DFF;
    justify-content: center;
    width: 100%;
}

.ps-img {
    display: flex;
    height: 11rem;
    width: 11rem;
    margin: 0;
    padding: 1rem;
}

.ps-text {
    background: linear-gradient(96deg, #8A5DFF 0%, #444CF7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    text-align: center;
    margin-top: 2.8rem;
    line-height: 1.4;
    font-style: italic;
    font-weight: 550;
    font-family: Calibri;
}

.ps-btn {
    display: flex;
    width: 20rem;
    height: 5rem;
    cursor: pointer;
    border-radius: 2rem;
    font-size: 2rem;
    background: linear-gradient(109deg, #8A5DFF 0%, #444CF7 100%);
    font-weight: 600;
    border: 0.2rem solid #040404;
    color:#ffffff;
    margin: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Open sans;
}

.empty {
    display: flex;
    width: 6%;
}

.ps-offer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.wraps {
    display: flex;
    width: 100%;
    justify-content: center;
}

.ps-btn:hover {
    background: linear-gradient(109deg, #444CF7 0%, #8A5DFF 100%); 
}

.ps-img {
    height: 18rem;
    width: 18rem;
}




